
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
  /* #dfdbda */
  .scroll::-webkit-scrollbar {
    display: none;
  }
  .scroll::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
html{
    background-color: #151515;
    color:#fff;
    height : 100%;
    width : 100%;
    font-family : sans-serif;
    
}

body{
    position: fixed;
    margin : 0px;
    height : 100%;
    width : 100%;
    overflow: hidden;
    touch-action:none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

p{
    word-break : keep-all;
    margin : 0;
    padding : 1rem 2rem
}
.header{
    position : absolute;
    width : 100%;
    top : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    height : 5%;
    z-index: 3;
}
.article-wrap{
    position : absolute;
    top : 5%;
    height : 40%;
    width : 100%;
    overflow-y: scroll;
}
.padder{
    height : calc(30% - 2rem)
}
.article{
    font-family: 'Gowun Batang', serif;

    
    font-size : 2rem
}


.overlay{
    width : 100%;
    height : 40%;
    position : fixed;
    top : 5%;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(21,21,21,0) 30%, rgba(21,21,21,0) 70%, rgba(21,21,21,1) 100%);
}
.wrapper{
    position:absolute;
    
    bottom : 0;
    width : 100%;
    height : 55%;
}
.menu-list{
    
    height : 100%;
    width : 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr
    

}
.menu{
    
 
    color:#fff;
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.menu1{
    background-color: #738e5c;
    border-radius:2rem 0 0 0;
}
.menu2{
    background-color: #e85913;
    border-radius: 0 2rem 0 0;
}
.menu3{
    background-color: #f0c14a;
    color : #8e6197
}
.menu4{
    background-color: #8e6197;
    color : #f0c14a
    
}
.text-wrap {
    margin : 1rem;
}
.menu .text{
    margin : 0;
    font-size:1.4rem;
    word-break : keep-all;
    line-height: 1.8rem;
    display: flex;
    
    align-items: center;
}
.menu .eng{
    margin-top : 0rem;
    font-size : 1rem
}



#circle1{
    position: absolute;
    background-color: #738e5c;
    transform: translate(-50%, -50%) scale(0.1); /* 초기 크기와 위치 설정 */
    border-radius: 50%; /* 원 모양 */
    z-index: 1; /* 가장 위에 나타나도록 z-index 설정 */
  }

.btn-window{
    position : absolute;
    top : 0;
    left: 0;
    width : 100%;
    height : 100%;
    z-index: 2;
}

.content{
    
    height : 95%;
    width : calc(100% - 2.8rem);
    top : 5%;
    position : absolute;
    bottom : 0;
    opacity : 0;
    overflow-y: scroll;
    padding : 0px 1.4rem;
}


.content-title{
    display : flex;
    align-items: center;
    font-size : 1.4em;
    font-weight: bold;
}
.content-area{
    margin : 1.2rem 0
}

.profile-name{
    font-size : 1rem;
    /* font-weight : bold */
}


.small-title{
    font-size: 1.4rem;
    font-weight: 200;
    margin : 0 0 0.5rem 0
}
.round-card{
    background-color: #fff;
    color:#738e5c;
    border-radius: 100000px;
    padding: 0 0.6rem;
    margin: 0.2rem 0.05rem;
    height : 1.4rem;
    display: inline-flex;
    align-items: center;
    
}

.interdesign-area, .webapp-area, .article-area{
    
    width: 100%;
    --auto-grid-min-size: 13rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    

}

.interdesign-image{
    aspect-ratio : 1 / 1;
    background-color:#8e6197;
    display : inline;
    border-radius: 1rem;
}



.article-container{
    aspect-ratio : 1 / 1;

    display : inline-flex;
    flex-direction: column;
}
.article-image{
    width : 100%;
    height : 100%;
    background-color : #738e5c;
    border-radius: 1rem 1rem 0 0;
}
.article-title{
    width : 100%;
    font-size : 1.2rem;
    text-align : center;
    background-color : #f0c14a;
    border-radius: 0 0 1rem 1rem;
    color : #8e6197;
}
.profile-about-grid{
    display:grid;
    grid-template-columns: 5rem 10rem;
    grid-row: 1rem 1rem;
}
.profile-about-grid .col-1{
    color : rgba(256,256,256,0.8)
}
