
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  /* #dfdbda */
html{
    background-color: #151515;
    color:#fff;
    height : 100%;
    width : 100%;
    font-family : sans-serif;
}

body{
    margin : 0px;
    height : 100%;
    width : 100%;
}
p{
    word-break : keep-all;
    margin : 0;
    padding : 20px 30px
}
.header{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 5%;
    /* padding : 10px */
}
.article-wrap{
    height : 45%;
    overflow-y: scroll;
}
.padder{
    height : calc(50% - 20px - 1em)
}
.article{
    
    
    font-size : 2em
}

.wrapper{
    position:absolute;
    bottom : 0px;
    width : 100%;
    height : 50%;
}
.menu-list{
    height:100%;
    width : 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr
    

}
.menu{
    
 
    color:#fff;
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.menu1{
    background-color: #738e5c;
    border-radius:30px 0 0 0;
}
.menu2{
    background-color: #e85913;
    border-radius: 0 30px 0 0;
}
.menu3{
    background-color: #f0c14a;
    color : #8e6197
}
.menu4{
    background-color: #8e6197;
    color : #f0c14a
    
}
.text-wrap {
    margin : 20px;
}
.menu .text{
    margin : 0;
    font-size:1.6em;
    word-break : keep-all;
    line-height: 1.2em;
}
.menu .eng{
    margin-top : 10px;
    font-size : 1em
}